
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "check";

.card.panel{
  padding: 1em;
  margin-bottom: 1em;
}

.avatar{
  width: 75px;
  height: 75px;
}

.avatar-medium{
  width: 140px;
  height: 140px;
}

.private {
  display: flex;
  align-items: center;
  color: cadetblue;
  font-size: 1.5em;
}
